.intro-container{
    height: 95vh;
    margin-top: -135px;
}

.wrapper{
    margin-top: 0;
    height: 83vh;
    background-image: url(../../assets/background2.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 92%;
    padding: 50px;
    z-index: -10;
}

.intro-text{
    margin-top: 300px;
}

.text h2, h1{
    z-index: 10;
    position: relative;
    margin-left: -50px;
}

.intro-text h2{
    font-weight: 700;
    line-height: 29px;
    color: var(--blue);
    margin-top: 14px;
}

.intro-text span{
    color: var(--white);
}

.name{
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color:var(--white);
    margin-top: 14px;
}

.name span{
    color: var(--soft-blue-variant);
}

.intro-text::before{
    background: linear-gradient(214.83deg, #03045E 42.88%, rgba(3, 4, 94, 0) 76.71%);
    content: '';
    height: 421px;
    width: 421px;
    position: absolute;
    border-radius:50% ;
    left:-90px;
    margin-top: -70px;
    z-index: 1;
}

.intro-button{
    margin-left: 270px;
    margin-top: 10px;
}

.intro-button button{
    margin-left: 20px;
}

.button1 a{
    color: white;
}

.button1 a:hover{
    color: var(--dark-blue);
}

.rafi1{
    position: absolute;
    height: 327px;
    width: 317px;
    left: 750px;
    margin-top: -258px;
    background: linear-gradient(180deg, #03045E 0%, rgba(3, 4, 94, 0) 100%);
    border: 2px solid #00B4D8;
    backdrop-filter: blur(5px);
    z-index: 10;

    border-radius: 100px;
}

.intro-img::after{
    background: linear-gradient(214.83deg, #03045E 14.26%, rgba(3, 4, 94, 0) 76.71%);
    transform: rotate(178.32deg);
    content: '';
    height: 178px;
    width: 178px;
    position: absolute;
    right: 0.5%;
    margin-top: -310px;
    border-radius:50% ;
    z-index: 1;
}

/* ====================================== About ME ============================================== */

.me-container{
    background-color: #292929;
    width: 100%;
    height: 100vh;
}

.me-flex{
    display: flex;
}

.me-img{
    height: 315px;
    width: 315px;
    transform: rotate(7deg);
    transition: var(--transition);
}

.me-img-cont{
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 50px;
    background: linear-gradient(45deg, transparent,var(--dark-blue), transparent);
    height: 320px;
    width: 320px;
    margin-top: 150px;
    display: grid;
    place-items: center;
}

.me-img:hover{
    transform: rotate(0deg);
}

.me-text{
    margin-top: 190px;
    margin-left: 150px;
}

.me-title{
    color: var(--blue);
    font-weight: 700;
    font-size: 28px;
    line-height: 29px;
}

.me-parag{
    width: 502px;
    color: white;
    font-weight: 300;
    font-size: 20px;
    line-height: 25px;
    margin-top: 15px;
}

.me-parag b, .me-parag i{
    color: var(--soft-blue);
}

.me-text button{
    margin-top: 50px;
}

.btnme1{
    margin-left: 20px;
}
