*{
	margin: 0;
	padding: 0;
	outline: 0;
	font-family: 'Open Sans', sans-serif;
}

:root{
    --soft-blue:#CAF0F8;
    --soft-blue-variant:#90E0EF;
    --blue:#00B4D8;
    --dark-blue-variant:#0077B6;
    --dark-blue:#03045E;
    --black:#000;
    --black-variant:#202020;
    --white:#fff;

    --container-width-lg: 86%;
    --container-width-md: 86%;
    --container-width-sm: 90%;

    --transition: all 400ms ease ;
}

html {
    scroll-behavior: smooth;
}

body{
	min-height: 100vh;
  margin: 0;
	background: #202020;
  display:flex; flex-direction:column;
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}

.container{
    width: var(--container-width-lg);
    margin: 0 auto;
}

header{
    display: flex;
    margin-top: 32px;
}

.button1{
    background: var(--dark-blue);
    border: 2px solid #00B4D8;
    border-radius: 10px;
    color: var(--white);
    padding: 5px 25px;
    font-weight: 700;
    font-size: 16px;
    line-height: 29px;
    cursor: pointer;
}

.button1:hover{
    background: var(--white);
    border: 2px solid #03045E;
    border-radius: 10px;
    color: var(--dark-blue);
}

.button2{
    background: var(--blue);
    border: 2px solid #00B4D8;
    border-radius: 10px;
    color: var(--dark-blue);
    padding: 5px 25px;
    font-weight: 700;
    font-size: 16px;
    line-height: 29px;
    cursor: pointer;
}

.button2:hover{
    background: var(--white);
    border: 2px solid #fff;
    border-radius: 10px;
    color: var(--dark-blue);
}

.revealr{
    position: relative;
    transform: translatex(-150px); 
    opacity: 0;
    transition: 1s all ease;
  }
  
  .revealr.active{
    transform: translatex(0);
    opacity: 1;
  }

  .reveall{
    position: relative;
    transform: translatex(150px); 
    opacity: 0;
    transition: 1s all ease;
  }
  
  .reveall.active{
    transform: translatex(0);
    opacity: 1;
  }

  .openl{
    animation: open-left 700ms ease-out;
  }

  @keyframes open-left{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0);
    }
  }

  .openr{
    animation: open-right 700ms ease-out;
  }

  @keyframes open-right{
    0%{
        transform: translateX(100%);
    }

    100%{
        transform: translateX(0);
    }
  }

  .soon{
    text-align: center;
    color: white;
    padding: 30px;
    margin-top: 10rem;
  }